<div class="hs-dropdown relative inline-flex [--placement:bottom-left] sm:[--trigger:hover]">
    <a class="relative inline-flex text-gray-300 hs-dropdown-toggle hover:text-gray-500" href="#">
        <i class="ti ti-bell-ringing text-xl relative z-[1]"></i>
        {% if messages %}
        <div
            class="absolute inline-flex items-center justify-center text-white text-[11px] font-medium bg-blue-600 w-2 h-2 rounded-full -top-[1px] -right-[6px]">
        </div>
        {% endif %}
    </a>
    <div class="card hs-dropdown-menu transition-[opacity,margin] rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max w-[300px] hidden z-[12]"
        aria-labelledby="hs-dropdown-custom-icon-trigger">
        <div>
            <h3 class="px-6 py-3 text-base font-semibold text-gray-500">Notifications</h3>
            <ul class="flex flex-col list-none">
                {% for message in messages %}
                <li>
                    <a href="#" class="flex items-start block gap-2 px-6 py-3 hover:bg-gray-200">
                        <span class="w-2 h-2 mt-2 bg-gray-400 rounded-full shrink-0"></span>
                        <p class="text-sm font-medium text-gray-500">{{ message }}</p>
                    </a>
                </li>
                {% empty %}
                <li>
                    <div class="px-6 py-3 text-sm text-gray-400">No new notifications</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
