<div class="hs-dropdown relative inline-flex [--placement:bottom-right] sm:[--trigger:hover]">
    <a class="relative align-middle rounded-full cursor-pointer hs-dropdown-toggle">
        {% if profile.profile_photo %}
        <img src="{{ profile.profile_photo.url }}" alt="Profile Photoe" class="object-cover rounded-full w-9 h-9"  aria-hidden="true" />
    {% else %}
                    <img alt="Profile Photo" class="object-cover rounded-full w-9 h-9"  aria-hidden="true" src="{% static "images/profile/user-1.jpg" %}" />
    {% endif %}

    </a>
    <div class="card hs-dropdown-menu transition-[opacity,margin] rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max  w-[200px] hidden z-[12]"
        aria-labelledby="hs-dropdown-custom-icon-trigger">
        <div class="p-0 py-2 card-body">
            <a href="javscript:void(0)" class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400">
                <i class="text-xl ti ti-user "></i>
                <p class="text-sm ">My Profile</p>
            </a>
            <a href="javscript:void(0)" class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400">
                <i class="text-xl ti ti-mail"></i>
                <p class="text-sm ">My Account</p>
            </a>
            <a href="javscript:void(0)" class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400">
                <i class="text-xl ti ti-list-check "></i>
                <p class="text-sm ">My Task</p>
            </a>
            <div class="px-4 mt-[7px] grid">
                <a href="" class="btn-outline-primary font-medium text-[15px] w-full hover:bg-blue-600 hover:text-white">Logout</a>
            </div>

        </div>
    </div>
</div>
