<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->
<div class="p-4" >
  @@include("./logo-sidebar.html")
</div>
<div class="scroll-sidebar" data-simplebar="">
    <nav class="flex flex-col w-full px-4 mt-5 sidebar-nav">
      <ul  id="sidebarnav" class="text-sm text-gray-600">
        <li class="text-xs font-bold pb-[5px]">
          <i class="hidden text-lg text-center ti ti-dots nav-small-cap-icon"></i>
          <span class="text-xs font-semibold text-gray-400">HOME</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base  flex items-center relative  rounded-md text-gray-500  w-full" href="{% url "dashboard" %}"
           >
            <i class="text-2xl ti ti-layout-dashboard ps-2"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="mt-6 mb-4 text-xs font-bold">
          <i class="hidden text-lg text-center ti ti-dots nav-small-cap-icon"></i>
          <span class="text-xs font-semibold text-gray-400">USER MANAGEMENT</span>
        </li>


        <li class="sidebar-item" x-data="{ open: false }">
        <!-- Toggle Button -->
        <button
            @click="open = !open"
            class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center justify-between relative rounded-md text-gray-500 w-full transition"
        >
            <div class="flex items-center gap-3">
            <i class="text-2xl ti ti-user-heart ps-2"></i>
            <span>Regular Students</span>
            </div>
            <i
            :class="open ? 'ti ti-chevron-up' : 'ti ti-chevron-down'"
            class="mr-4 text-2xl transition duration-200">
            </i>
        </button>

        <!-- Dropdown Content -->
        <ul
            x-show="open"
            x-transition
            class="py-2 pl-4 pr-2 ml-4 space-y-2 text-sm text-gray-400"
        >
            <li>
            <a href="{% url "student_list" %}" class="block px-3 py-2 rounded-md hover:bg-gray-100"><span class="mr-4">&#x2022;</span> List Students</a>
            </li>
            <li>
            <a href="{% url "add_regular_student" %}" class="block px-3 py-2 rounded-md hover:bg-gray-100"><span class="mr-4">&#x2022;</span>  Add Student</a>
            </li>
            <li>
            <a href="#" class="block px-3 py-2 rounded-md hover:bg-gray-100"><span class="mr-4">&#x2022;</span>  Edit Student</a>
            </li>
        </ul>
        </li>

        <li class="sidebar-item" x-data="{ open: false }">
        <!-- Toggle Button -->
        <button
            @click="open = !open"
            class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center justify-between relative rounded-md text-gray-500 w-full transition"
        >
            <div class="flex items-center gap-3 text-nowrap">
            <i class="text-2xl ti ti-user-exclamation ps-2 text-nowrap"></i>
            <span>Temporary Students</span>
            </div>
            <i
            :class="open ? 'ti ti-chevron-up' : 'ti ti-chevron-down'"
            class="mr-4 text-2xl transition duration-200">
            </i>
        </button>

        <!-- Dropdown Content -->
        <ul
            x-show="open"
            x-transition
            class="py-2 pl-4 pr-2 ml-4 space-y-2 text-sm text-gray-400"
        >
            <li>
            <a href="{% url 'student_list' %}?type=temporary{% if query %}&q={{ query }}{% endif %}" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  List Students</a>
            </li>
            <li>
            <a href="{% url "add_temporary_student" %}" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  Add Student</a>
            </li>
            <li>
            <a href="#" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  Edit Student</a>
            </li>
        </ul>
        </li>


        <li class="sidebar-item" x-data="{ open: false }">
            <!-- Toggle Button -->
            <button
                @click="open = !open"
                class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center justify-between relative rounded-md text-gray-500 w-full transition"
            >
                <div class="flex items-center gap-3 text-nowrap">
                <i class="text-2xl ti ti-user-question ps-2 text-nowrap"></i>
                <span>Guests</span>
                </div>
                <i
                :class="open ? 'ti ti-chevron-up' : 'ti ti-chevron-down'"
                class="mr-4 text-2xl transition duration-200">
                </i>
            </button>

            <!-- Dropdown Content -->
            <ul
                x-show="open"
                x-transition
                class="py-2 pl-4 pr-2 ml-4 space-y-2 text-sm text-gray-400"
            >
                <li>
                <a href="{% url 'guest_list' %}" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  List Guests</a>
                </li>
                <li>
                <a href="{% url "add_guest" %}" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  Add Guest</a>
                </li>
                <li>
                <a href="#" class="block px-3 py-2 rounded-md hover:bg-gray-100">&#x2022;  Edit Student</a>
                </li>
            </ul>
            </li>



        <li class="mt-8 mb-4 text-xs font-bold">
          <i class="hidden text-lg text-center ti ti-dots nav-small-cap-icon"></i>
          <span class="text-xs font-semibold text-gray-400">ACCESS CONTROL</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href=""
           >
            <i class="text-2xl ti ti-scan ps-2"></i> <span>Scan</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{% url "access_logs" %}"
           >
            <i class="text-2xl ti ti-history ps-2"></i> <span>Logs</span>
          </a>
        </li>


        <li class="mt-8 mb-4 text-xs font-bold">
          <i class="hidden text-lg text-center ti ti-dots nav-small-cap-icon"></i>
          <span class="text-xs font-semibold text-gray-400">EXTRA</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href=""
           >
            <i class="text-2xl ti ti-mood-happy ps-2"></i> <span>Icons</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{% url "system_settings" %}"
           >
            <i class="text-2xl ti ti-settings-2 ps-2"></i> <span>Settings</span>
          </a>
        </li>

      </ul>
    </nav>
</div>

<!-- Bottom Upgrade Option -->
<div class="relative grid m-4">
    <a href="{% url "logout" %}" class="flex items-center justify-center gap-2 text-base font-semibold hover:bg-blue-700 btn">
        <i class="text-xl ti ti-logout-2"></i>
        <span>Logout</span>
    </a>
</div>
<!-- </aside> -->
